
@keyframes move {
    0% { transform: translateX(0); }
    50% { transform: translateX(20px); }
    100% { transform: translateX(0); }
  }
  
  .AboutImg {
    animation: move 2s infinite;
  }

  @keyframes moving-img {
    0% {
        transform: translateY(0);
      }
      50% {
        transform: translateY(3px);
      }
      100% {
        transform: translateY(0);
      }
  }

  .moving-img {
    animation: moving-img 2s infinite;
  }

  .abiutus {
    background-color: white;
  }
  .main-abouyts {
    display: grid;
    padding: 90px 0;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    padding: 50px 90px;
  }
  .head-- {
    display: flex;
    gap: 10px;
    align-items: center;
  }
  .head-- small{
    background-color: #96AE00;
    padding: 5px 18px;
    border-radius: 40px;
    font-size: 8px;
    color: white;
    font-weight: 500;
    display: block;
  }
  .head-- span{
    font-size: 10px;
    color: rgb(0, 0, 59);
    font-weight: 600;
    display: block;
  }

  .right-about h2 {
    font-size: 40px;
    font-weight: 700;
    line-height: 40px;
    color:  #2D2A6E;
    font-family: var(--pri-font-family);
  }
  .right-about span {
    padding: 10px 0;
  }

  .right-about {
    padding-right:40px;
  }

  .rrr {
    font-size: 15px;
    font-weight: 500;
    padding: 20px 0;
    color:  #4D5574;
    font-family: var(--pri-font-family);
  }

  .list-oco {
    font-size: 20px;
    display: flex;
    padding: 6px 0;
    gap: 10px;
    align-items: center;
  }
  .list-oco span {
    font-size: 15px;
    background-color: #96AE00;
    padding: 5px;
    color: whitesmoke;
    display: flex;
    border-radius: 50px;
  }
  .list-oco h6 {
    font-size: 15px;
    font-weight: 500;
  }
  .onsome {
    padding: 20px 0;
  }
 .ioio {
    padding: 20px 0;
  }
  .about--middle {
    display: grid;
    grid-template-columns:  1fr 1fr 1fr;
    padding: 50px 90px;
  }
  .about--middle section{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px 100px;
  }
  .about--middle section h4{
    font-size: 16px;
    color: #2D2A6E;
    font-family: var(--pri-font-family);
    font-weight: 700;
  }
  .about--middle section small{
    font-size: 16px;
    color: #4D5574;
    font-weight: 400;
    padding: 10px 0;
    line-height: 20px;
  }

  .middle-back {
    background-color: #F2F2F6;
    text-align: center;
  }
  .middle-back h2{
    color: #2D2A6E;
    font-family: var(--pri-font-family);
    font-weight: 700;
    font-size: 30px;
  }
  .middle-back small{
    color: #4D5574;
    font-weight: 400;
    font-size: 15px;
  }

.list-o- {
    padding: 50px 90px;
}
  .inside--list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
      padding: 50px 0;
  }
  .list-o- span {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }
  .list-o- h4 {
    font-size: 22px;
    color: #2D2A6E;
    font-family: var(--pri-font-family);
    font-weight: 700;
    padding: 10px 0;
  }
  .list-o- small {
    font-size: 16px;
    color: #2D2A6E;
    font-weight: 400;
    padding: 0px 50px;
  }
  .list-o- img {
    width: 95%;
    padding: 10px 0;
  }


  


  @media only screen and (max-width: 600px) {
    .main-abouyts {
      display: grid;
      padding: 20px;
      grid-template-columns: 1fr;
    }
    .AboutImg {
      width: 100%;
    }


    .right-about h2 {
      font-size: 25px;
      font-weight: 700;
      line-height:30px;

    }

  
    .right-about {
      padding-right:0px;
    }
  
    .rrr {
      font-size: 13px;


    }
  
    .list-oco {
      font-size: 16px;
      display: flex;
      padding: 6px 0;
      gap: 5px;

    }
    .list-oco span {
      font-size: 15px;
      padding: 1px;
    }
    .list-oco h6 {
      font-size: 12px;
      font-weight: 500;
    }
    .onsome {
      padding: 0px 0;
    }
   .ioio {
      padding: 10px 0;
    }
    .about--middle {
      display: grid;
      grid-template-columns:  1fr;
      padding: 10px 0px;
    }
    .about--middle section{
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding: 20px ;
    }
    .about--middle section h4{
      font-size: 15px;
      color: #2D2A6E;
      font-family: var(--pri-font-family);
      font-weight: 700;
    }
    .about--middle section small{
      font-size: 15px;
      color: #4D5574;
      font-weight: 400;
      padding: 10px 0;
      line-height: 20px;
    }



    .middle-back h2{
      font-size: 20px;
    }
    .middle-back small{
      color: #4D5574;
      font-weight: 400;
      font-size: 15px;
    }
  
  .list-o- {
      padding: 50px 20px;
  }
    .inside--list {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
        padding: 20px 0;
        gap: 20px;
    }
    .list-o- span {
    

    }
    .list-o- h4 {
      font-size: 20px;
      color: #2D2A6E;
      font-family: var(--pri-font-family);
      font-weight: 700;
      padding: 0px 0;
    }
    .list-o- small {
      font-size: 10px;
      color: #2D2A6E;
      font-weight: 400;
      padding: 0px 0px;
      
    }
    .onlygh {
      line-height: 15px;
    }
    .list-o- img {
      width: 95%;
      padding: 10px 0;
    }
  
  
    
  
  
  }
  