.latest__news__cart {
    
}
.blog__sections {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: space-between;
    padding: 0px 80px;
    gap: 20px;
}
.latest__news__cart img {
    border-radius: 10px 10px 0 0;
    width: 380px;
    height: 240px;
    object-fit: cover;
}
.text__news {
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.news-heading {
    display: flex;
    align-items: center;
    gap: 10px;
}
.news__category {
    font-size: 14px;
    color: #96AE00;
    font-weight: 600;
}
.incharge, .date {
    color: #4D5574;
    font-size: 13px;
    font-weight: 600;
}
.news__dec {
    color: #2D2A6E;
    font-weight: 700;
    font-family: var(--pri-font-family);
    font-size: 18px;
    line-height: 20px;
}





@media only screen and (max-width: 992px) {
    .blog__sections {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: space-between;
        padding: 0px 80px;
        gap: 20px;
    }
    .latest__news__cart img {
        border-radius: 10px 10px 0 0;
        width: 400px;
        height: 240px;
        object-fit: cover;
    }
}



@media only screen and (max-width: 600px) {
    .blog__sections {
        display: grid;
        grid-template-columns: 1fr;
        justify-content: space-between;
        padding: 0px 20px;
        gap: 20px;
    }
    .latest__news__cart img {
        border-radius: 10px 10px 0 0;
        width:100%;
        height: 300px;
        object-fit: cover;
    }
}