.latestnews__sect {
    padding: 20px;
  }
.latestews__cart img{
    width: 350px;
    height: 200px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;

  }
  .news__categoryy {
    font-size: 14px;
  }
  .news__deccc {
    font-size: 16px;
    font-family: var(--pri-font-family);
    font-weight: 700;
    color: rgb(3, 3, 77);
  }
  .news-headingg {

  }
  .text__newss {
    padding: 0 20px;
    display: flex;
    flex-direction: column ;
    gap: 10px;
  }
  .blog__sectionss {
    padding: 0 60px;
    display: flex;
    gap: 20px;
  }
  
  .latest__news {
    text-align: start;
    margin-bottom: 20px;
  }
  
  .inside--blog {
    padding: 40px 0;
  }
  .inside--blog img {
    z-index: -9;
  }
  .main--text {
    padding: 0px 120px;
    margin-top: -30px;
    background-color: white;
  }
  .another-- {
    background-color: rgb(250, 250, 250);
    padding: 80px;
    z-index: 9;
  }
  .another-- h1{
    padding: 10px 0;
    font-family: var(--pri-font-family);
    font-size: 45px;
    font-weight: 700;
    color: rgb(5, 5, 129);
    line-height: 50px;

  }
  .blog__meta {
    display: flex;
    gap: 30px;
  }
  .blog__sections {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  
  .latest__news__cart {

  }
  
  .latest__news__cart img {
    width: 100%;
    object-fit: cover;
  }
  
  .text__newss {
    padding: 15px;
  }
