.weekly {
    padding: 20px;
  }
  
  .card__viewproducts {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    overflow-x: scroll;
    padding: 10px 0;
  }
  .card__viewproducts::-webkit-scrollbar {
    display: none;
  }
  
  .carousel__item {
    display: flex;
    justify-content: start;
    align-items: start;
    height: 100%;
    text-align: start;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
  }
  .card__viewproducts {
    display: flex;
    flex-direction: row;
    
  }
  
  .carousel .slide {
    display: flex;
    justify-content: start;
    align-items: start;
    padding: 0px;
    text-align: start;
  }
  
  .carousel .control-arrow {
    opacity: 0.7;
  }
  
  .carousel .control-arrow:hover {
    opacity: 1;
  }





  
@media only screen and (max-width: 600px) {
      
  .card__viewproducts {
    grid-template-columns: 1fr;
  }
}
  