.weekly {
    padding: 40px 80px;
}

.weekly__head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.weekly__head  span {
    font-family: var(--pri-font-family);
    font-size: 24px;
    letter-spacing: -.3px;
    font-weight: 700;
    color: #2D2A6E;
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.weekly__head  small{
    display: flex;
    align-items: center;
    color: #79819C;
    font-size: 17px;
    font-weight: 400;
}
.weekly__head  small span{
    display: flex;
    align-items: center;
    color: #79819C;
    font-size: 17px;
    font-weight: 400;
}


@media only screen and (max-width: 600px) {
    .weekly {
        padding: 40px 20px;
    }
    .weekly__head  {
        display: flex;
        flex-direction: row;
       justify-content: space-between;
        margin-top: 20px;
        align-items: center;
    }
    .weekly__head  span {
        font-family: var(--pri-font-family);
        font-size: 14px;
        letter-spacing: -.3px;
        font-weight: 700;
        color: #2D2A6E;
        display: flex;
        flex-direction: row;
    }
    .weekly__head  small{
        display: flex;
        align-items: center;
        color: #79819C;
        font-size: 12px;
        font-weight: 400;
    }
    .weekly__head  small span{
        display: flex;
        align-items: center;
        color: #79819C;
        font-size: 12px;
        font-weight: 400;
    }
}
