.dashboard__container {
    display: flex;
    flex-direction: column;
    gap: .7rem;
}
.headd {
    display: flex;
    align-items: center;
}
.btn--fgr {
    display: flex;
    flex-direction: row;

}
.btn--fgr button{
    background-color: #2000ae;
    padding: 10px 22px;
    font-size: 10px;
    display: block;
    font-family: var(--pri-font-family);
    font-weight: 600;
    cursor: pointer;
    border-radius: 40px;
    border: none;
    color: white;

}
.btn--fgr button a{

    color: white;

}
.innnnns {
    border: 1px solid grey;
}
.Dashboard h4 {
    font-size: 24px;
    width: 100%;
    display: block;
    font-weight: 400;
    padding: 50px 0;
    color: rgb(4, 4, 41);
    border-bottom: 1px solid rgb(231, 231, 231);
}
.dashboard_post {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding: 10px;
    border-bottom: 1px solid rgb(231, 231, 231);
    /* background-color: rgb(212, 212, 212);; */
   
}
.dashboard_post:hover{
    background-color: rgb(247, 247, 247);
}
.dashboard__post-info {
    display: flex;
    gap: 2rem;
    width: 100%;
    align-items: center;
}
.dashboard__post-thumbnail {
    width: 6rem;
    overflow: hidden;
    
}
.dashboard__post-thumbnail img {
   width: 100%;
    object-fit: cover;
}
.dashboard-post-action {
    display: flex;
    gap: 1rem;
}
.post__title {
    font-size: 15px;
}
.btn--view {
    background-color: #96AE00;
    padding: 10px 22px;
    font-size: 13px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 40px;
    border: none;
    color: white;
}
.btn--view:hover, .btn--delete:hover {
    background-color: #2D2A6E;
    color: whitesmoke;
}
.btn--delete {
    background-color: #ff3e0e;
    padding: 10px 22px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 40px;
    border: none;
    color: white;
}


 .All__dashboard {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

/* .left__dashboard {
    display: flex;
    flex-direction: column;
    gap: 10px;
} */
.right__dashboard {
    width: 100%;
}